<!-- a simple HTML file for displaying an article from HealthCare.gov for important health information.

    Press "Get Another Random Article" to generate a new article

    !! ! -->
{% extends "base.html" %}

{% block title %}
HealthCare.gov Random Article
{% endblock title %}

{% block main %}
<h2>Random Article from HealthCare.gov</h2>
<button><a href="{% url 'random_article' %}">Get Another Random Article</a></button>

{% if random_article %}
    <h3><a href="https://www.healthcare.gov{{ random_article.url }}" target="_blank">{{ random_article.title }}</a></h3>
    <p>{{ random_article.content|safe }}</p>
{% else %}
    <p>No random article available at the moment.</p>
{% endif %}
{% endblock main %}
