<!-- a simple HTML file for listing patients!! ! -->
{% extends "base.html" %}

{% block title %}
List of Patients
{% endblock title %}

{% block main %}
<h1>List of Patients</h1>
<p>click on a patient to create new medical record </p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>State</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for p in patients %}
        <tr>
            <td><a href="{% url 'detail_patient' id=p.id %}">{{ p.name }}</a></td>
            <td>{{ p.age }}</td>
            <td>{{ p.state }}</td>
            <td>{{ p.phone_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
